* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

section{
    height: 100vh;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    gap: 10px;
    justify-content: flex-start;
    align-items: start;
    align-content: center;

    background-color: aquamarine;
    
    


}

svg{
    color: red;
}

section > div {
    background-color: salmon;
    padding: 2em;
    max-width: 100px;

    /* margin-right: 10px;
    margin-bottom: 10px; */
}

section > div.important {
    background-color: blueviolet;
    color: white;
    /* order: 3; */
    flex: 0 0 300px;

    align-self: end;
}

header{
    display:flex;
    justify-content: space-between;
}


header > div {
    margin: 0 .5em;
    display: flex;
    align-items: center;
    gap: 1em;
}

header > div > nav > ul{
    display: flex;
    gap: 2em;
    list-style: none;
}

.menu-right{
    gap: 3em;
    margin-inline-end: 3em;
}
